
html, body {
  font-family: 'Indie Flower', cursive;
}
html, body, #root, .container {
  display: block;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 2em
}

.kidBlockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.kidBlock {
  border: 1px solid grey;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  flex-grow: 1;
}

body {
  background: url('cloudy-day.png');
}

.row {
  align-items: center;
  padding-bottom :20%;
  padding-top :2rem;
}
.kid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.kid > div {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.nameBlock {
  position: relative;
}
.nameBlock .birthdate {
  position: absolute;
  top: 35px;
  left:0 ;
}
